html { font-size: 14px; }

@media (min-width: 768px) {
    html { font-size: 16px; }
}

html {
    min-height: 100%;
    position: relative;
}

body { margin-bottom: 60px; }

/* NULLABLE */

*,
*::before,
*::after { box-sizing: border-box; }

ul[class],
ol[class] { padding: 0; }

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd { margin: 0; }

body {
    line-height: 1.5;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

ul[class],
ol[class] { list-style: none; }

a:not([class]) { text-decoration-skip-ink: auto; }

img {
    display: block;
    max-width: 100%;
}

article > * + * { margin-top: 1em; }

input,
button,
textarea,
select { font: inherit; }

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-duration: 0.01ms !important;
    }
}

/* NULLABLE END*/

:root {
    --main-color: #1E2922;
    --bg-color: #A1F7C5;
    --third-color: #295E3F;
    --fourth-color: #49AB72;
}

body { background-color: var(--bg-color); }

* {
    font-family: 'PT Sans Caption', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

h1, h2, h2, h4, h5, h6 { color: var(--main-color) }

h2 { font-size: 22px; }

button { width: 200px; }

input { font-size: 14px; }

label {
    font-size: 16px;
    margin-bottom: 5px;
}

.btn-80 {
    font-size: 14px;
    height: 25px;
    padding: 3px;
    width: 80px;
}

.check-container {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: start;
}

.d-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.marb { margin-bottom: 5px; }

.d-center {
    align-items: center;
    justify-content: center;
}

.label-container {
    align-items: start;
    display: flex;
    font-size: 14px;
    justify-content: start;
}

.fs-14 { font-size: 14px; }

.zoom2 { zoom: 2; }

.my-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.my-title {
    font-size: 32px;
    font-weight: 700;
}

.my-second-title {
    font-size: 24px;
    font-weight: 700;
}

.content-container {
    align-items: flex-start;
    display: flex;
    gap: 100px;
    justify-content: space-between;
    padding: 20px;
}

.d-end {
    display: flex;
    justify-content: end;
}

.content-container__job-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: center;
    width: 70%;
}

.content-container__job-container__title {
    align-items: center;
    display: flex;
    gap: 30%;
    justify-content: center;
}

.content-container__categories-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: center;
    width: 30%;
}

.content-container__categories-container__title {
    align-items: center;
    display: flex;
    gap: 10%;
    justify-content: center;
}

.categories-list {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
}

.list-title {
    font-size: 16px;
    font-weight: 700;
}

.list-item {
    font-size: 14px;
    font-weight: 500;
}

.categories-list__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-name {
    text-align: start;
    width: 50%;
}

.category-count { width: 25%; }

.category-actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 25%;
}

.jobs-list {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
}

.jobs-list__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.job-name {
    text-align: start;
    width: 28%;
}

.job-category { width: 20%; }

.job-date { width: 18%; }

.job-status { width: 16%; }

.job-actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 16%;
}

main {
    height: 95%;
    width: 95%;
}