@model IEnumerable<JobResponse>?

<div class="jobs-list">
    <div class="jobs-list__item">
        <h3 class="list-title job-name">Name</h3>
        <h3 class="list-title job-category">Category</h3>
        <h3 class="list-title job-date">Due date</h3>
        <h3 class="list-title job-status">Status</h3>
        <h3 class="list-title job-actions">Actions</h3>
    </div>

    <hr/>

    @if (Model != null && Model.Any())
    {
        @foreach (var job in Model)
        {
            <div class="jobs-list__item">
                <h3 class="list-item job-name">@job.Name</h3>
                <h3 class="list-item job-category">@job.CategoryName</h3>
                <h3 class="list-item job-date">@job.DueDate</h3>
                <h3 class="list-item job-status">@job.IsCompleted</h3>

                <div class="job-actions">
                    <button type="button" class="btn btn-warning btn-80">Change</button>
                    <button type="button" class="btn btn-danger btn-80">Remove</button>
                </div>
            </div>

            <hr/>
        }
    }
    else
    {
        <div class="jobs-list__item">
            <h3 class="list-item">There are no any jobs</h3>
        </div>
    }
</div>