@model CategoryRequest

<form asp-controller="Index" asp-action="AddCategory" method="post" role="form">
    <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="addCategory" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adding category</h5>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <div class="label-container">
                            @Html.LabelFor(m => m.Name)
                        </div>

                        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", id = "name", placeholder = "Enter category name" } })

                        <div class="label-container">
                            <small class="text-danger">
                                @Html.ValidationMessageFor(m => m.Name, "", new { htmlAttributes = new { @class = "text-danger error" } })
                            </small>
                        </div>
                    </div>
                </div>

                <div class="modal-footer d-center">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>