@model IEnumerable<CategoryResponse>?

<div class="categories-list">
    <div class="categories-list__item">
        <h3 class="list-title category-name">Name</h3>
        <h3 class="list-title category-count">Jobs</h3>
        <h3 class="list-title category-actions">Actions</h3>
    </div>

    <hr/>

    @if (Model != null && Model.Any())
    {
        @foreach (var category in Model)
        {
            <div class="categories-list__item">
                <h3 class="list-item category-name">@category.Name</h3>
                <h3 class="list-item category-count">@category.CountOfJobs</h3>

                <div class="category-actions">
                    <form asp-action="GetJobsByCategory" asp-controller="Index" asp-route-id="@category.Id" method="get" role="form">
                        <button type="submit" class="btn btn-primary btn-80">Choose</button>
                    </form>

                    <form asp-action="RemoveCategory" asp-controller="Index" asp-route-id="@category.Id" method="post" role="form">
                        <button type="submit" class="btn btn-danger btn-80">Remove</button>
                    </form>
                </div>
            </div>

            <hr/>
        }
    }
    else
    {
        <div class="jobs-list__item">
            <h3 class="list-item">There are no any categories</h3>
        </div>
    }
</div>